<h1> Hello Marinette, where do you want to go?</h1>


<h1>New Destination</h1>

<%= form_for(@localisation) do |t| %>
  <%= t.label "Ville" %>
  <%= t.text_field :place %>
  <%= t.submit "Soumettre" %>
<% end %>


<p> <% @localisations.place %>
  <% @localisations.latitude %>
  <% @localisations.longitude %>


<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=<%=@localisations.latitude%>&lon=<%=@localisations.longitude%>&name=<%=@localisations.place%>&color=#00aaff&font=Helvetica&units=ca"> </iframe>

  <div class="map" style='width: 800px;'>
  <div id="map"></div>
</div>

<script type="text/javascript">


var map = L.map('map').setView([<%=@localisations.latitude%>, <%=@localisations.longitude%>], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

</script>
</p>


  



 
 
