<h1> Hello Marinette, where dou you want to go?</h1>
	
<h1>New Destination</h1>

<%= form_for(@localisation) do |t| %>
  <%= t.label "Ville" %>
  <%= t.text_field :place %>
  <%= t.submit "Soumettre" %>
<% end %>

<% @localisations.reverse_each do |localisation| %>
<p> <% localisation.place %>
  <% localisation.latitude %>
  <% localisation.longitude %>

<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=<%=localisation.latitude%>&lon=<%=localisation.longitude%>&name=<%=localisation.place%>&units=ca"> </iframe>

<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="75%"
src="http://forecast.io/embed/#lat=69.649205&lon=18.955324&name=Tromso, Norway&color=#00aaff&font=Helvetica&units=us">
</iframe>
view raw
  
</p>
<%end%>